<section class="header-site0" >
        <div class="container"></div>
    </section>

    <section class="header-site1" >
            <div class="container" >
              <div class="row">  
                <div class="col-sm"></div>
                    <div class="col-sm">
                        <div class="caption text-center">
                        <img class="caption text-center" src="images/Logo Bomzap.png"/>
                        </div>
                    </div>
                  <div class="col-sm"></div>
                </div>
            </div>
    <br><br><br><br><br><br>
<!--
    <section class="header-site2" >
        <div class="container"></div>
    </section>-->

 <div class="container">
                  <div class="row" >
    <div class="content-site"><br><br>
              <div class="container" >
                  <div class="row" >
                       <div class="col-sm-12">
                           <div class="caption text-center">
                           <br><h3 class="font-weight-lighter" >Faça já o seu cadastro</h3>
                              <div class="caption text-center">
                                  <h4 class="font-weight-lighter" >Conheça nossos planos:</h4><br>
                               </div>
                           </div>
                      </div></div>
                      <br><br>
                     
                      <div class="row" >
                          <br><br>
                          <div class="col-sm" style="border-color:#ffffff" ></div>
                          <div class="col" >
                              <div class="caption text-center">
                                  <h3 class="font-weight-lighter">Pay-per-view</h3>
                                  </div>
                                  <div class="caption text-center">
                                  <h6 class="font-weight-light" >Para aqueles que assistem poucos filmes e não querem pagar nada sem usar, nesse plano você aluga os filmes apenas que irá ver, pagando individualmente por eles<br><br>valor promocional:R$7000</h6>
                                  </div>
                             
                          </div>
                          <div class="col-sm-2" ></div>
                         
                              <div class="col" >
                                  <div class="caption text-center">
                                  <h3 class="font-weight-lighter">Mensal</h3>
                                  </div>
                              <div class="caption text-center">
                                  <h6 class="font-weight-light">Para os fanáticos por filmes, neste plano você ganha acesso ilimitado a todos os filmes da plataforma pagando apenas uma pequena mensalidade<br><br>valor promocional:R$7000</h6>
                              </div>
                                     
                              </div>
                          <div class="col-sm" ></div>
                         
                  </div>
    </div>
       
   
    <br><br><br>  
     
          <div class="container" >
       <form action="/create" method="post">
                <div class="row" >
                    <div class="container" >
                       
                        <section class="newsec3">
                           
                    <div class="col-sm-12" >
                       
                            <div class="caption text-center" >
                            <h1 class="font-weight-lighter">Cadastre-se</h1>
                        </div>
                       
                    </div>
                    <div class="container">
                        <div class="row" >
                           
                    <div class="col-sm-5">
                        <p class="text-center" >
                            <label for="uname"><b>Nome completo</b></label>
                            <br><input type="text" placeholder="Enter your name" name="user[fullname]" required>
                        </p>
                        <p class="text-center" >
                        <label for="uname"><b>Nome de usuário</b><br></label>
                            <br> <input type="text" placeholder="Enter Username" name="user[username]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>Senha</b></label>
                            <br><input type="password" placeholder="Password" name="user[password]" required>
                        </p>
                        <p class="text-center">
                    <label for="psw"><b>Telefone</b></label>
                    <br><input type="password" placeholder="(DDD)xxxx-xxxx" name="user[cellphone]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>CPF</b></label>
                            <br><input type="password" placeholder="CPF" name="user[cpf]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>RG</b></label>
                            <br><input type="password" placeholder="xxxxxxxxxx" name="user[rg]" required>
                        </p>
                    </div>
                           
                   
                    <div class="col-sm" ></div>
                    <div class="col-sm-5" >
                        <h5 class=" caption text-center"><b>Dados do cartão</b></h5>
                        <p class="caption text-center" >
                            <label for="uname"><b>Número do cartão</b></label>
                            <br><input type="text" placeholder="Card number" name="user[card_number]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Nome do titular</b></label>
                            <br><input type="text" placeholder="Card name" name="user[card_name]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Código de segurança</b></label>
                            <br><input type="text" placeholder="Code number" name="user[security_code]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Expiração</b></label>
                            <br><input type="text" placeholder="MM/AA" name="user[expiration]" required>
                        </p>
                        <p class="text-center" >
                        <label for="uname"><b>Cartão</b></label>
                       
                        <select name="user[card]">
                            <option value="Visa"> Visa </option>
                            <option value="Mastercard"> Mastercard </option>
                            <option value="Ello"> Ello </option>
                            <option value="Santander">Santander</option>
                            <option value="Nubank">Nubank</option>
                        </select>
                        </p>
                        </div>
                           
                    </div>
                        </div>
                            </section>
                    </div>
                       
                    </div>
                   
<!---fsafsafsa-->

                    <div class="container" >
                    <div class="text-center" >
                     
                            <br>
                             
                        <input type="radio" name="user[plano]" value="Mensal"> Mensal
                        <input type="radio" name="user[plano]" value="PPV"> Pay-per-view
                    <br>                    <br>

                           <button type="submit" class="btn btn-outline-primary">Cadastrar</button><br><br>
                         
                          <br>
                        </div>
                 <br><br>
                    </div>
               </form>
                   
        </div>
<!--
    <section class="header-site3">
                  <div class="container"></div>
    </section>-->

    <section class="img-site">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                     
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="text-right">
                            <img src="images/gestov.png">
                        </div>
                    </div>
                </div>
        </div><br><br>
    </section>

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="public/javascripts/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="public/bootstrap/bootstrap.js"></script>