<div class="fundo_logo">
  
    
    <center><img src="/images/Logo Bomzap.png"></center>
    
    
    <center><h2 class="Titulos_pag"><b>Bomzap:</b></h2></center>
</div>


        <div class="fundo_filmes">
            <div class="esp">
            
            </div>
            
            <div class="filme" >
        
        <img src="/images/Coringa.jpg" width="190px" height="190px" alt="Coringa" title="Sinopse:O comediante falido Arthur Fleck encontra violentos bandidos pelas ruas de Gotham City. Desconsiderado pela sociedade, Fleck começa a ficar louco e se transforma no criminoso conhecido como Coringa."><center><span class="Titulos_filme"><b>Coringa</b></span></center>
            </div>
            
                <div class="filme">
            <img src="/images/Deadpool.jpg" width="190px" height="190px" alt="Deadpool" title="Sinopse: O supersoldado Cable vem do futuro com a missão de assassinar o jovem mutante Russel e o mercenário Deadpool precisa aprender o que é ser herói de verdade para salvá-lo. Para isso, ele recruta seu velho amigo Colossus e forma o novo grupo X-Force, sempre com o apoio do fiel escudeiro Dopinder."><center><span class="Titulos_filme"><b>Deadpool</b></span></center>
                </div>
    
                    <div class="filme">
            <img src="/images/aladin.jpg" width="190px" height="190px" alt="Aladin" title="Sinopse: Aladdin liberta o gênio da lâmpada e tem seus desejos atendidos. Porém, ele logo descobre que o diabo tem outros planos para a lâmpada - e para a princesa Jasmim."><center><span class="Titulos_filme"><b>Aladin</b></span></center>
                    </div>
    
                    <div class="filme">
            <img src="/images/alita.jpg" width="190px" height="190px" alt="Alita" title="Sinopse: Uma ciborgue adolescente precisa usar suas habilidades únicas de luta para desvendar seu passado."><center><span class="Titulos_filme"><b>Alita</b></span></center>
                    </div> 
    
                       <div class="filme">
            <img src="/images/aquamen.jpg" width="190px" height="190px" alt="Aquamen" title="Sinope:A cidade de Atlantis, que já foi lar de uma das mais avançadas civilizações do mundo, agora é um reino submerso dominado pelo ganancioso Rei Orm. Com um vasto exército a seu dispor, Orm planeja conquistar tanto os demais reinos do oceano, quanto o mundo da superfície. Em seu caminho está Aquaman, meio-humano e meio-atlante, e verdadeiro herdeiro do trono. Com a ajuda da princesa Mera, Aquaman precisa recuperar o lendário Tridente de Atlan e aceitar seu destino como protetor das profundezas."><center><span class="Titulos_filme"><b>Aquamen</b></span></center>
                        </div>  
    
                        <div class="filme">
            <img src="/images/asterix.jpg" width="190px" height="190px" alt="Asterix" title="Sinopse: Astérix e Obelix embarcam em uma jornada inédita. Dessa vez eles precisam ajudar o velho druída Getafix a encontrar um novo guardião para a poção mágica de Gália. Durante a viagem pela região, eles devem impedir que a receita mágica caia nas mãos erradas, dando início a uma inesperada aventura."><center><span class="Titulos_filme"><b>Asterix</b></span></center>
                        </div>
    
                            <div class="filme">
            <img src="/images/dumbo.jpg" width="190px" height="190px" alt="Dumbo" title="Sinopse: Dumbo é um bebê elefante de um circo que nasceu com orelhas enormes. Após ser ridicularizado por seu grupo de amigos, ele se transforma na principal atração de seu circo quando descobre que, usando suas orelhas, é capaz de fazer o que nenhum outro elefante consegue: voar."><center><span class="Titulos_filme"><b>Dumbo</b></span></center>
                            </div>
    
                             <div class="filme">
            <img src="/images/homem_aranha.jpg" width="190px" height="190px" alt="Alita" title="Sinopse: Depois de ser picado por uma aranha geneticamente modificada em uma demonstração científica, o jovem nerd Peter Parker ganha superpoderes. Inicialmente, ele pretende usá-los para para ganhar dinheiro, adotando o nome de Homem-Aranha e se apresentando em lutas de exibição. Porém, ao presenciar o assassinando de seu tio Ben e sentir-se culpado, Peter decide não mais usar seus poderes para proveito próprio e sim para enfrentar o mal, tendo como seu primeiro grande desafio o psicótico Duende Verde."><center><span class="Titulos_filme"><b>Homem Aranha</b></span></center>
                            </div>
    
                                <div class="filme">
            <img src="/images/jw3.jpg" width="190px" height="190px" alt="John Wick 3" title="Sinopse: O lendário John Wick luta para sair de Nova York quando um contrato de 14 milhões de dólares faz dele o alvo dos maiores assassinos do mundo."><center><span class="Titulos_filme"><b>John Wick 3</b></span></center>
                                </div> 
    
                                    <div class="filme">
            <img src="/images/mib.jpg" width="190px" height="190px" alt="MIB" title="Sinopse: Como estava escondida, a garota não foi atingida pela ação. Obcecada pelos mistérios do universo, ela cresceu com o sonho de ingressar no MIB. Após muita pesquisa, ela consegue descobrir a sede da agência e lá se candidata a uma vaga, sendo aceita por O (Emma Thompson)."><center><span class="Titulos_filme"><b>MIB</b></span></center>
                                    </div>
            
             

    
                                        <div class="filme">
            <img src="/images/pantera_negra.jpg" width="190px" height="190px" alt="Pantera Negra" title="Conheça a história de T'Challa, príncipe do reino de Wakanda, que perde o seu pai e viaja para os Estados Unidos, onde tem contato com os Vingadores. Entre as suas habilidades estão a velocidade, inteligência e os sentidos apurados."><center><span class="Titulos_filme"><b>Pantera Negra</b></span></center>
                                        </div> 
    
                                            <div class="filme">
            <img src="/images/rambo.jpg" width="190px" height="190px" alt="Rambo" title="Sinopse: O tempo passou para Rambo, que agora vive recluso em um rancho. Sua vida marcada por lutas violentas ficou para trás, mas deixou marcas inesquecíveis. No entanto, quando uma jovem de uma família amiga é sequestrada, Rambo precisa confrontar seu passado e resgatar suas habilidades de combate para enfrentar o mais perigoso cartel mexicano. A busca logo se transforma em uma caçada por justiça, na qual nenhum criminoso é perdoado."><center><span class="Titulos_filme"><b>Rambo</b></span></center>
                                            </div>
    
                                                <div class="filme">
            <img src="/images/rei_leão.jpg" width="190px" height="190px" alt="Rei leão" title="Sinopse: Este desenho animado da Disney mostra as aventuras de um leão jovem de nome Simba, o herdeiro de seu pai, Mufasa. O tio malvado de Simba, Oscar, planeja roubar o trono de Mufasa atraindo pai e filho para uma emboscada. Simba consegue escapar e somente Mufasa morre. Com a ajuda de seus amigos,Timon e Pumba, ele reaparece como adulto para recuperar sua terra, que foi roubada por seu tio Oscar."><center><span class="Titulos_filme"><b>Rei Leão</b></span></center>
                                                </div>
    
                                                    <div class="filme">
            <img src="/images/shazam.jpg" width="190px" height="190px" alt="Shazam" title="Sinopse: Billy Batson tem apenas 14 anos de idade, mas recebeu de um antigo mago o dom de se transformar em um super-herói adulto chamado Shazam. Ao gritar a palavra SHAZAM!, o adolescente se transforma nessa sua poderosa versão adulta para se divertir e testar suas habilidades. Contudo, ele precisa aprender a controlar seus poderes para enfrentar o malvado Dr. Thaddeus Sivana."><center><span class="Titulos_filme"><b>Shazam</b></span></center>
                                                    </div> 
    
                                                        <div class="filme">
            <img src="/images/ts.jpg" width="190px" height="190px" alt="Toy story 4" title="Sinopse: Woody, Buzz Lightyear e o resto da turma embarcam em uma viagem com Bonnie e um novo brinquedo chamado Forky. A aventura logo se transforma em uma reunião inesperada quando o ligeiro desvio que Woody faz o leva ao seu amigo há muito perdido, Bo Peep."><center><span class="Titulos_filme"><b>Toy story 4</b></span></center>
                                                        </div>
    
                                                           <div class="filme">
            <img src="/images/us.jpg" width="190px" height="190px" alt="Us" title="Sinopse: Adelaide e Gabe levam a família para passar um fim de semana na praia e descansar. Eles começam a aproveitar o ensolarado local, mas a chegada de um grupo misterioso muda tudo e a família se torna refém de seres com aparências iguais às suas."><center><span class="Titulos_filme"><b>Us</b></span></center>
                                                            </div> 
    
                                                                <div class="filme">
            <img src="/images/velozes_e_furiosos.jpg" width="190px" height="190px" alt="Velozes e Furiosos" title="Sinopse: O longa vem dando continuidade às corridas eletrizantes da equipe de amigos liderada por Dominic Toretto."><center><span class="Titulos_filme"><b>Velozes e furiosos</b></span></center>
                                                                </div> 

                                                                    <div class="filme">
            <img src="/images/vu.jpg" width="190px" height="190px" alt="Vingadores" title="Sinopse: Após Thanos eliminar metade das criaturas vivas, os Vingadores têm de lidar com a perda de amigos e entes queridos. Com Tony Stark vagando perdido no espaço sem água e comida, Steve Rogers e Natasha Romanov lideram a resistência contra o titã louco."><center><span class="Titulos_filme"><b>Vingadores</b></span></center>
                                                                    </div>
    
                                                                        <div class="filme">
            <img src="/images/x-men.jpg" width="190px" height="190px" alt="X-men" title="Sinopse: Jean Grey começa a desenvolver incríveis poderes que a corrompem e a transformam em uma Fênix Negra. Agora, os X-Men precisam decidir se a vida de um membro da equipe vale mais do que todas as pessoas do mundo.."><center><span class="Titulos_filme"><b>-men: Fênix negra</b></span></center>
                                                                        </div> 
    
                                                                            <div class="filme">
            <img src="/images/zubilandia.jpg" width="190px" height="190px" alt="Zubilandia" title="Sinopse: Uma década depois do sucesso de Zombieland, e deste se ter tornado um filme de culto, o elenco principal (Woody Harrelson, Jesse Eisenberg, Abigail Breslin e Emma Stone) volta a juntar-se ao realizador Ruben Fleischer  e aos argumentistas originais Rhett Reese & Paul Wernick ) para lançar Zombieland: Tiro Duplo. Neste novo filme, através do caos hilariante que vai desde a Casa Branca à América profunda, estes quatro caçadores vão enfrentar os novos tipos de zombies que evoluíram desde o primeiro filme, bem como alguns novos sobreviventes humanos. Mas, acima de tudo, eles têm de enfrentar os problemas de crescimento da sua própria peculiar família improvisada."><center><span class="Titulos_filme"><b>Zubilandia</b></span></center>
                                                                            </div> 
            
    
       </div>                                                                             
    <div>
<style>
    body{
        background: black
    }
        </style> 
</div>   
           
  
