<div>  
<div class="fundo_erro">

      <center><h1>Problemas para conectar</h1></center>
      <center><h3>Por favor, volte ao login.</h3></center>
      <center><a href="Login" class="linkcadastro">Click aki para ir ao login</a></center>
      
</div>
<style>
    body{
        background-image: linear-gradient(SeaGreen,Teal)
    }
        </style> 
</div>