
    <section class="principal1">
            <div class="login-box">
                <section class="containerG0"></section>

                <section class="containerG1">
                <div class="container">
                      <div class="row" >  
                        <div class="col-sm"></div>
                            <div class="col">
                                <div class="caption text-center">
                                    <img class="caption text-center"  src="images/Logo Bomzap.png"/>
                                </div>
                            </div>
                          <div class="col-sm"></div>
                        </div>
                    </div>
                </section>

                <div class="container" >
                    <div class="row">
                        <div class="col-sm"></div>
                       <section class="containerG">
                            <div class="container">
                    <div class="row">
                        <div class="col-sm" ></div>
                         <div class="caption text-center">
                             <div class="col" >
                                     <div class="fonte">
                                         <h1>Login</h1>
                                     </div>
                                 </div>
                        </div>
                        <div class="col-sm" ></div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm" ></div>
                        <div class="col" >
                            <div class="caption text-center">
                                <div class="textbox">
                                    <input type="text" placeholder="Username" name="" value="">
                                </div>
                                <div class="textbox">
                                    <input type="password" placeholder="Password" name="" value="">
                                </div>
                                <br>
                                <div class="caixa">
                                 <button type="submit" class="btn btn-dark">Sign In</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm" ></div>
                    </div>
                </div>
                    </section>
                        <div class="col-sm"></div>
                    </div>
                </div>

                 <br><br>

            <section class="containerGf">    
                <div class="container"></div>
            </section>    


                <div class="text2-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm" >
                                <img class="caption text-center" src="images/quemsomos.png">
                            </div>
                            <div class="col" >
                                <p style="font-family:sans-serif;">A Bomzap é o novo serviço de streaming que chega até você!<br/> A simplicidade da nossa plataforma e os  planos de assinatura vão facilitar sua maneira de assistir filmes.</p>
                                <a href="" class="linkcadastro">Ainda não é nosso cliente? Saiba mais aqui!</a>
                            </div>
                            <div class="col-sm"></div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- box-shadow: 5px 5px 10px green
        webkit-box-shadow: 5px 5px 10px green
        moz-box-shadow: 5px 5px 10px green-->
    </section>
