
<div>
<style>

    
    
    <div id="FORM">
      <center>
        <img src="FOTOS/logo_bomzap.png" >
      </center>

      <center>
        <h1 style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">LOGIN</h1>

        <form id="dados usuario" method="post" action="DIRECIONAR PARA O BANCO DE DADOS">
          <input type="email" placeholder="Usuário"name="" value="">
          <input type="password" placeholder="Senha" name="" value="">
          <input type="submit" name="" value="ENTRAR" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;" >
          <a href=""><strong>Esqueceu sua senha?</strong></a>
        </center>
      </div>

      <div class="FOTOIDENTIFICACAO">
        <img src="FOTOS/quemsomos.png" alt="">
      </div>
      <div class="TEXTAPRESENTACACAO">
        <center>
          <p style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">A Bomzap é o novo serviço de streaming que chega até você!<br/> A simplicidade da nossa plataforma e os  planos de assinatura vão facilitar sua maneira de assistir filmes.</p>
          <a href="" class="linkcadastro">Ainda não é nosso cliente? Saiba mais aqui!</a>
        </center>
      </div>
    
       </style> 
</div> 

