  <div class="container" >
       <form action="/cadastro" method="post">
                <div class="row" >
                    <div class="container" >
                       
                        <section class="newsec3">
                            
                    <div class="col-sm-12" >
                        
                            <div class="caption text-center" >
                            <h1 class="font-weight-lighter">Cadastre-se</h1>
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="row" >
                           
                    <div class="col-sm-5">
                        <p class="text-center" >
                            <label for="uname"><b>Nome completo</b></label>
                            <br><input type="text" placeholder="Enter your name" name="user[email]" required>
                        </p>
                        <p class="text-center" >
                        <label for="uname"><b>Nome de usuário</b><br></label>
                            <br> <input type="text" placeholder="Enter Username" name="user[email]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>Senha</b></label>
                            <br><input type="password" placeholder="Password" name="user[password]" required>
                        </p>
                        <p class="text-center">
                    <label for="psw"><b>Telefone</b></label>
                    <br><input type="password" placeholder="(DDD)xxxx-xxxx" name="user[password]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>CPF</b></label>
                            <br><input type="password" placeholder="CPF" name="user[password]" required>
                        </p>
                        <p class="text-center">
                            <label for="psw"><b>RG</b></label>
                            <br><input type="password" placeholder="xxxxxxxxxx" name="user[password]" required>
                        </p>
                    </div>
                           
                   
                    <div class="col-sm" ></div>
                    <div class="col-sm-5" >
                        <h5 class=" caption text-center"><b>Dados do cartão</b></h5>
                        <p class="caption text-center" >
                            <label for="uname"><b>Número do cartão</b></label>
                            <br><input type="text" placeholder="Card number" name="user[email]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Nome do cartão</b></label>
                            <br><input type="text" placeholder="Card name" name="user[email]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Código de segurança</b></label>
                            <br><input type="text" placeholder="Code number" name="user[email]" required>
                        </p>
                        <p class="text-center" >
                            <label for="uname"><b>Expiração</b></label>
                            <br><input type="text" placeholder="MM/AA" name="user[email]" required>
                        </p>
                        <p class="text-center" >
                        <label for="uname"><b>Cartão</b></label>
                       
                        <select name="nome qualquer2">
                            <option value="Visa"> Visa </option>
                            <option value="Mastercard"> Mastercard </option>
                            <option value="Ello"> Ello </option>
                            <option value="Santander">Santander</option>
                            <option value="Nubank">Nubank</option>
                        </select>
                        </p>
                        </div>
                           
                    </div>
                        </div>
                            </section>
                    </div>
                       
                    </div>
                   
                    <div class="container" >
                    <div class="text-center" >
                     
                            <br>
                             
                        <input type="radio" name="G" value="Mensal"> Mensal
                        <input type="radio" name="G" value="PPV"> Pay-per-view
                    <br>
                           <button type="submit" class="btn btn-outline-primary">Cadastrar</button><br><br>
                          
                          <br>
                        </div>
                 <br><br>
                    </div>
               </form>
                   
        </div>
    